/*Simple reset*/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #ddd;
}

canvas#snow {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
}

iframe#pdfjs {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 30%;
  height: 500px;
}

button.spinning {
  color: #e1e1e1 !important;
}

div#page-wrapper {
  text-align: center;
}

div#topbar {
  height: 50px;
  background: black;
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
}

h1#header {
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 80px;
  color: #444;
  font-family: 'Open Sans Condensed', sans-serif;
}

button.submit-button {
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #E5DA93;
  text-decoration: none;
  color: #666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

a.btn, button {
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #E5DA93;
  text-decoration: none;
  color: #666;
  border: 0;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  border: none;
  border-radius: 1px;
}

.spinner-container {
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: .4em;
  padding: 1em;
  position: relative;
  top: 16px;
  width: 70px;
}

button.submit-button:before {
  background: #403D29;
}

div#submit-form {
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

div#submit-form form {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

p.slogan {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  color: #444;
}

#register_form
{
  width: 430px;
  margin: 0 auto;
}

#register_form label
{
  display: block;
  width: 150px;
  float: left;
  text-align:left;
}

input[type="text"], input[type="password"] {
  display: inline-block;
  margin: auto;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  color: #555;
}
input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

div#register-topbar-container {
  text-align: right;
}

div#register-topbar-container a {
  text-decoration: none;
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: .4em;
  padding: .5em;
  cursor: pointer;
  background: #ddd;
  text-decoration: none;
  color: #666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

div#pdfjs-toggle-container {
  margin-top: 40px;
}

.spinner {
  position:relative !important;
}
