<h1 id="header">Hi. Welcome to Snowball.</h1>

<p class="slogan">PDF generation made easy.</p>

<div id="submit-form">
  <form action="#" method="POST">
    <input name="url" type="text" placeholder="http://" />
    <button type="submit" class="hvr-bounce-to-right submit-button" value="Submit">Amaze me</button>
  </form>
</div>
<div id="pdfjs-toggle-container">
  <button id="pdfjs-toggle">Show/Hide PDF</button>
</div>
<div>
  <iframe style="display:none;" id="pdfjs" src="scripts/vendor/pdfjs/web/viewer.html?file=%2Fmock%2Fexample.pdf"></iframe>
</div>
